/* <style> */
/* Styles for the burger menu */




 .img-logo{
   margin-left: -50px;
 }


.img-logo
{
height: 50px;
width: 50px;
border-radius: 50%;

}
header {
 background-color: #87CEEB;
 color: #fff;
 padding: 10px;
 padding-top: 20px;

}



