
<!DOCTYPE html>
<html lang="en-US" prefix="">
<head>
<meta charset="UTF-8">

<!-- <meta name="google-site-verification" content="rSQ86KichneWd2nppEzX7i6F89JB2Gy0qumNCvQFsWA" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="../static/back-image/logo.png" type="image/x-icon">
<title id="title"></title>
<meta name="description" content="❤️ Behala FF Result ❤️ Behala FATAFAT Result Today Live All 8 Baji Live Super Fast With ❤️ Tips &amp; Trick ❤️ Old Results, 220 Patti Chart, Lucky Number - বেহালা ff " />
<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:standard" />
<link rel="canonical" href="https://Behalaff.in/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Behala FF  ❤️ FATAFAT Result Today LIVE Tips, Patti Chart" />
<meta property="og:description" content="❤️ Behala FF Result ❤️ Behala FATAFAT Result Today Live All 8 Baji Live Super Fast With ❤️ Tips &amp; Trick ❤️ Old Results, 220 Patti Chart, Lucky Number - বেহালা ff" />
<meta property="og:url" content="https://Behalaff.in/" />
<meta property="og:site_name" content="Behala FF" />
<!-- <meta property="og:updated_time" content="2024-01-12T21:06:52+05:30" /> -->
<meta property="og:image" content="" />
<meta property="og:image:secure_url" content="" />
<meta property="og:image:width" content="500" />
<meta property="og:image:height" content="500" />
<meta property="og:image:alt" content="Behala ff" />
<meta property="og:image:type" content="image/png" />
<meta property="article:published_time" content="2020-09-01T00:50:52+05:30" />
<meta property="article:modified_time" content="2024-01-12T21:06:52+05:30" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Behala FF ❤️ FATAFAT Result Today LIVE Tips, Patti Chart" />
<meta name="twitter:description" content="❤️ Behala FF Result ❤️ Behala FATAFAT Result Today Live All 8 Baji Live Super Fast With ❤️ Tips &amp; Trick ❤️ Old Results, 220 Patti Chart, Lucky Number - বেহালা ff" />
<meta name="twitter:image" content="" />
<meta name="twitter:label1" content="Written by" />
<meta name="twitter:data1" content="Behalaff" />
<meta name="twitter:label2" content="Time to read" />
<meta name="twitter:data2" content="5 minutes" />


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- <link rel="stylesheet" href="../static/css/all.css">
<link rel="stylesheet" href="../static/css/index.css"> -->
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/all.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/nav.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/contact.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/admin.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/patti-chart.css')}}">
<script>
    let currentDate = new Date();
    let currentYear = currentDate.getFullYear();
    document.getElementById("title").innerHTML="Behala FF❤️"+currentYear +" Fatafat Result Today LIVE Tips, Patti Chart";
    </script>
      <script>
		// JavaScript function to toggle the navigation menu
		function toggleNav() {
		  var nav = document.querySelector('nav');
		  nav.classList.toggle('show');
		}
	  </script>
    </head>
    
    <header class="text-center">
      <a href="/" style="color: white; text-decoration: none;"> <h2 class=""><img src="../static/back-image/logo.png" class="img-logo" alt="" srcset=""> BEHALAFF<span style="color: red;">.IN</span> </h2></a>
        <p class="text-center">❤️ result sabse pahele ❤️</p>
      </header>
    

      
      <nav class="navbar navbar-expand-lg " style="background-color: rgb(8, 8, 8);" >
        <a class="navbar-brand" href="/" style="float: left; color: rgb(255, 255, 255); font-weight: 600; " >Behala <span style="color: red;">FF</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon fas fa-bars" style="color:rgb(255, 0, 0); margin-top:10px;"></span>
        </button>
        
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent"  style=" margin-right: 60px;">
         <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/" style="float: left; color: rgb(255, 255, 255); font-weight: 600;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/tips" style="float: left; color: rgb(255, 255, 255); font-weight: 600;">Tips </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about" style="float: left; color: rgb(255, 255, 255); font-weight: 600;">About </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/contact" style="float: left; color: rgb(255, 255, 255); font-weight: 600;">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
              style="background-color:rgb(8, 8, 8) ; color: rgb(255, 255, 255); font-weight: 600;">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/patti-chart" style=" font-weight: 600;">Patti Chart</a>
                <a class="dropdown-item" href="/tipstommorow" style=" font-weight: 600;">Tips Tommorow</a>
                <a class="dropdown-item" href="/pattitips" style=" font-weight: 600;">Patti Tips</a>
                <a class="dropdown-item" href="/luckypatti" style=" font-weight: 600;">Lucky Patti</a>
                <a class="dropdown-item" href="/old" style=" font-weight: 600;">Old Result</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/admin" style=" font-weight: 600;">Admin</a>
                <a class="dropdown-item" href="/admin_logout" style=" font-weight: 600;">Log Out</a>
              </div>
         
            </li>
     
         
          </ul>
    
        </div>
      </nav>
      
    
      <!-- <nav>
        
        <a href="/" style="font-weight: 600;">Home</a>
        <a href="/about" style="font-weight: 600;">About</a>
        <a href="/tips" style="font-weight: 600;">Tips</a>

 <a href="/luckypatti" style="font-weight: 600;">Lucky Patti </a> 
 <a href="/old" style="font-weight: 600;">Old Result</a>
<a href="/pattitips" style="font-weight: 600;">Patti Tips</a>
 
        <a href="/contact" style="font-weight: 600;">Contact</a>
   
        <a href="/admin" style="font-weight: 600;">Admin</a>
      
      </nav>
      <div class="burger-menu" onclick="toggleNav()">
        &#9776;
      </div> -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% block body %}

{% endblock body %}
<footer style="background-color: rgb(28, 25, 25); color: white; text-align: center; margin-top: 80px; height: 80px; padding-top: 17px;" >
<h6>
  Powered by <a href="https://behalaff.in" style="color: white;">https://behalaff.in"</a>  <p id="title1" style="padding-top: 8px;"></p>
  <script>
 
    document.getElementById("title1").innerHTML="Behala FF ❤️ "+currentYear +" All right Reserved. ";
    </script>
</h6>
</footer>
