{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock title %}
{% block body %}

<body>
    <div class="container">
        <br><br><br>
		<p class="help-text"><span style="color: #0a088a;">Scroll</span> to the right to view the entire table || 
			টেবিল টি কে পুরো দেখার জন্য ডান দিকে <span style="color: #0a088a;">স্ক্রল</span> করুন 👉</p>
		<h3 class="center t-h2 " >Old Result - Month</h3>
		<div class="table-container-1">
			<center>
	
				<table class="table table-container">
		
					<tbody>
					  <tr class=" in-tr-b-r t-h2" >

                        <td class="in-td-1">
                            <b>Date</b> 
                              </td>
						<td class="in-td-1">
					  <b>Slot - 1</b>
						</td>
						<td class="in-td-1">
						  <b>Slot - 2</b>
						  
							</td>
							<td class="in-td-1">
							  <b>Slot - 3</b>
								</td>
								<td class="in-td-1">
								  <b>Slot - 4</b>
									</td>
									<td class="in-td-1">
									  <b>Slot - 5</b>
										</td>
										<td class="in-td-1">
										  <b>Slot - 6</b>
											</td>
						<td class="in-td-1">
					  <b>Slot - 7</b>
						</td>
						<td class="in-td-1">
						  <b>Slot - 8</b>
							</td>
					  </tr>
					  <tr class="tr-color-1 in-tr-b">
						  <td class="in-td-1">
						<b>data</b>
                        <br>
                            <b>Data</b>
						  </td>
						  <td class="in-td-1">
							<b>data</b>
                            <br>
                            <b>Data</b>
							</td>
							  <td class="in-td-1">
								<b>data</b>
                                <br>
                            <b>Data</b>
								  </td>
								  <td class="in-td-1">
									<b>data</b>
                                    <br>
                            <b>Data</b>
									  </td>
									  <td class="in-td-1">
										<b>data</b>
                                        <br>
                            <b>Data</b>
										  </td>
										  <td class="in-td-1">
											<b>data</b>
                                            <br>
                            <b>Data</b>
											 
						  <td class="in-td-1">
						<b>data</b>
                        <br>
                            <b>Data</b>
						  </td>
                          
						  <td class="in-td-1">
							<b>data</b>
                            <br>
                            <b>Data</b>
							  </td>
                              <td class="in-td-1">
                                <b>data</b>
                                <br>
                            <b>Data</b>
                                  </td>
                                  
                        
						</tr>
					
			   
					  <!-- Add more rows as needed -->
					</tbody>
				</table>
		</center>
		</div>
	</div>
    
</body>










{% endblock body %}